# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor & IDE Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Node / Scratch (if any tooling is introduced)
node_modules/
.temp/
dist/
build/
*.log
